// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
	margin: 0;
    padding: 0;
	border: 0;
	outline: 0;
	box-sizing: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	min-height: 0;
	min-width: 0;
}

/**
 * Set up a decent box model on the root element
 */
html {
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	
    // This defines what 1rem is
    font-size: 100%; 							//1 rem = 16px;
    
    @include responsive('5k') {
        font-size: 100%; 						//1rem = 16px < 5120px 
    }
    
    @include responsive('4k') {
        font-size: 93.75%; 						//1rem = 15px < 4096px
    }
    
    @include responsive(uhd) {
        font-size: 87.50%; 						//1rem = 14px < 3840px
    }
    
    @include responsive(msb) {
        font-size: 81.25%; 						//1rem = 13px < 3240px
    }
    
    @include responsive('qhd+') {
        font-size: 75%; 						//1rem = 12px < 2880px
    }
    
    @include responsive(qhd) {
        font-size: 68.75%; 						//1rem = 11px < 2560px
    }
    
    @include responsive(hd) {
        font-size: 62.5%; 						//1rem = 10px < 1920px
    }

    @include responsive(tablet-landscape) { 
        font-size: 56.25%; 						//1 rem = 9px < 1200px
    }

    @include responsive(tablet-portrait) { 
        font-size: 50%; 						//1 rem = 8px, < 900px
    }
}

body {
	background-color: transparent;
}

html, body { 
	overflow-x: hidden;
	
	&.scroll {
		overflow: hidden; 
		height: 100%;
	}
}

@include selection {
	background-color: $background-color-selection;
	color: $color-selection;
}

.container {
	max-width: $grid-width;
	position: relative;
}

.main-content {
	
	&__loop {
		
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}

/// Links
///
a { 
	color: $main-link-color; 
	text-decoration: none; 
	cursor: pointer; 
	transition: $button-transitions;
	
	@include on-event {
    	color: $main-link-hover;
		text-decoration: none;
	}
}

/// Lists
///
ol, ul {
	
	li {
		margin: 0 0 1rem;
		
		ol, ul {
			margin: .5rem 0 0 0;
			
			li {
				font-size: 1em; margin-left: 1.5rem;
				
				ol, ul {
					margin: 0;
					
					li {
						font-size: 1em;
						margin-bottom: .5rem;
						margin-left: 3rem;
					}
				}
			}
		}
	}
}

/// Tables
///
table {
	border: 1px solid #ddd;
	border-right: 0;
	border-bottom: 0;
	margin-bottom: 2rem;
	
	td {
		border: 1px solid #ddd;
		border-top: 0;
		border-left: 0;
		font-size: 1em;
		padding: .8rem;
	}
}

/// Images
///
img {
	max-width: 100%;
	height: auto;
	
	&.alignnone {
		margin-bottom: 1.5rem;
	}
	
	&.aligncenter {
		display: block;
		margin: 0 auto 1.5rem;
	}
	
	&.alignright {
		float: right;
		clear: both;
		margin: 0 0 1.5rem 1.5rem;
	}
	
	&.alignleft {
		float: left;
		clear: both;
		margin: 0 1.5rem 1.5rem 0;
	}
}