// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
	@if $self {
    	&,
		&:hover,
		&:active,
		&:focus {
			@content;
    	}
	} @else {
	    &:hover,
		&:active,
		&:focus {
			@content;
    	}
	}
}

@mixin link($self: true) {
	@if $self {
    	&,
		&:link,
		&:visited {
			@content;
    	}
	} @else {
	    &:link,
		&:visited {
			@content;
    	}
	}
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
	#{$context} & {
    	@content;
  	}
}

/// Center an absolutely positioned element inside its parent
@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}

/// Center an inside element with flexbox
@mixin flex-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/// Organise responsive media queries
/// @param {String} $breakpoint
@mixin responsive($breakpoint) {
    @media only screen and (max-width: map-get($breakpoints, $breakpoint)) { @content };
}

@mixin grid($breakpoint, $count, $flex: true, $xs: false) {
  
	@if $xs {
		float: left;
		width: calc(100%/(12/#{$count}) - 1px);
		
		@if $flex {
			body:not(.MSIE):not(.IE) & {
				flex-basis: calc(100%/(12/#{$count}) - 1px);
			}
		}	
	} @else {
		
		@media only screen and (min-width: map-get($breakpoints, $breakpoint) + 0.0625) {
	    	float: left;
			width: calc(100%/(12/#{$count}) - 1px);
			
			@if $flex {
				body:not(.MSIE):not(.IE) & {
		    		flex-basis: calc(100%/(12/#{$count}) - 1px );
		    	}
		    }
		}
	}
}

@mixin true-grid($breakpoint, $count) {

	@media only screen and (min-width: map-get($breakpoints, $breakpoint) + 0.0625) {
		body.MSIE &,
		body.IE & {
			float: left;
			width: calc(100%/(12/#{$count}) - 1px);
		}

		body:not(.MSIE):not(.IE) & {
			grid-column: span $count;
		}
	}
}

/// Prefixes for placeholder CSS pseudo-element
@mixin placeholder {
	&::-webkit-input-placeholder { @content };
	&:-ms-input-placeholder { @content };
	&::placeholder { @content };
}

@mixin selection {
	::-moz-selection { @content };
	::selection { @content };
}