/* 
.	 Responsive Menu 
.	 --------------------------------------------------------------------
*/

.responsive-menu{ 
	left: -100%; 
	position: absolute; 
	position: fixed; 
	height: 100%; 
	z-index: 1999; 
	width: 40%; 
	overflow-x: hidden; 
	overflow-y: auto; 
	background-color: $color-very-light-grey;
	color: $color-grey;
	top: 4.9rem; 
	box-shadow: 0 0 1.5rem $color-off-black; 
	transition: left 0.5s; 
	
	.admin-bar & {
		top: 81px;
		
		@media screen and (max-width: 48.875em) {
			top: 95px;
		}
	}
	
	&.activate {
		left: 0;
	}
	
	.responsive-menu-inner { 
		padding: 0 0 1.5rem;
	}
	
	&.right {
		left: auto; 
		right: -26rem;
	}
	
	&.left {
		right: auto; 
		left: -26rem;
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 1.1rem; 
		font-weight: normal; 
		padding: 0 1.5rem; 
		margin: 0 0 .5rem; 
		color: $color-white; 
		line-height: 2.4rem; 
		background-color: $color-dark-grey;
		background-image: linear-gradient($color-dark-grey, $color-very-dark-grey); 
		box-shadow: 0 5px 5px 3px rgba($color-black, 0.2);
	}
	
	p {
		margin: 0 0 1.2rem;
		
		a {
			color: rgba($color-white, 0.9);
		}
	}
	
	ul {
		margin: 0;
		
		li {
			display: block; 
			margin: 0; 
			line-height: 4rem; 
			border-top: 1px solid $color-off-black; 
			font-weight: 300;
			
			&.menu-item-first {
				border-top: 0;
			}
			
			&.menu-item-last {
				padding-bottom: 10rem;
			}
			
			a,
			span {
				padding: 0 1.5rem; 
				display: block; 
				text-decoration: none;  
				color: $color-off-black; 
				text-transform: uppercase;
			}
			
			ul {
				border-bottom: none; 
				margin: 0;
				
				li {
					line-height: 4rem;
					
					&:last-child {
						border-bottom: none;
					}
					
					a,
					span {
						padding-left: 3rem;
					}
				}
				
			}
		}
	}
}