.container {
	max-width: $grid-width;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}


.row {
	@extend .clearfix;
	margin-left: -15px;
	margin-right: -15px;
						
	display: flex;
	flex-wrap: wrap;
		
	@supports (display: flex) {
			
		&::after {
			display: none;
		}
	}
}

[class*="col-"] {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	body:not(.MSIE):not(.IE) & {
		flex-basis: 100%;
	}
}

.col {
	flex: 1;
  
	&-xs {
		
		&-12 {
			@include grid(small, 12, true, true);
		}
		
		&-11 {
			@include grid(small, 11, true, true);
		}
		
		&-10 {
			@include grid(small, 10, true, true);
		}
		
		&-9 {
			@include grid(small, 9, true, true);
		}
		
		&-8 {
			@include grid(small, 8, true, true);
		}
		
		&-7 {
			@include grid(small, 7, true, true);
		}
		
		&-6 {
			@include grid(small, 6, true, true);
		}
		
		&-5 {
			@include grid(small, 5, true, true);
		}
		
		&-4 {
			@include grid(small, 4, true, true);
		}
		
		&-3 {
			@include grid(small, 3, true, true);
		}
		
		&-2 {
			@include grid(small, 2, true, true);
		}
		
    	&-1 {
			@include grid(small, 1, true, true);
    	}
	}
  
	&-sm {
    	
    	&-12 {
			@include grid(phone, 12);
		}
		
		&-11 {
			@include grid(phone, 11);
		}
		
		&-10 {
			@include grid(phone, 10);
		}
		
		&-9 {
			@include grid(phone, 9);
		}
		
		&-8 {
			@include grid(phone, 8);
		}
		
		&-7 {
			@include grid(phone, 7);
		}
		
		&-6 {
			@include grid(phone, 6);
		}
		
		&-5 {
			@include grid(phone, 5);
		}
		
		&-4 {
			@include grid(phone, 4);
		}
		
		&-3 {
			@include grid(phone, 3);
		}
		
		&-2 {
			@include grid(phone, 2);
		}
		
    	&-1 {
			@include grid(phone, 1);
    	}
	}
  
	&-md {
		
		&-12 {
			@include grid(tablet-portrait, 12);
		}
		
		&-11 {
			@include grid(tablet-portrait, 11);
		}
		
		&-10 {
			@include grid(tablet-portrait, 10);
		}
		
		&-9 {
			@include grid(tablet-portrait, 9);
		}
		
		&-8 {
			@include grid(tablet-portrait, 8);
		}
		
		&-7 {
			@include grid(tablet-portrait, 7);
		}
		
		&-6 {
			@include grid(tablet-portrait, 6);
		}
		
		&-5 {
			@include grid(tablet-portrait, 5);
		}
		
		&-4 {
			@include grid(tablet-portrait, 4);
		}
		
		&-3 {
			@include grid(tablet-portrait, 3);
		}
		
		&-2 {
			@include grid(tablet-portrait, 2);
		}
		
    	&-1 {
			@include grid(tablet-portrait, 1);
    	}
	}
  
	&-lg {
    	
    	&-12 {
			@include grid(tablet-landscape, 12);
		}
		
		&-11 {
			@include grid(tablet-landscape, 11);
		}
		
		&-10 {
			@include grid(tablet-landscape, 10);
		}
		
		&-9 {
			@include grid(tablet-landscape, 9);
		}
		
		&-8 {
			@include grid(tablet-landscape, 8);
		}
		
		&-7 {
			@include grid(tablet-landscape, 7);
		}
		
		&-6 {
			@include grid(tablet-landscape, 6);
		}
		
		&-5 {
			@include grid(tablet-landscape, 5);
		}
		
		&-4 {
			@include grid(tablet-landscape, 4);
		}
		
		&-3 {
			@include grid(tablet-landscape, 3);
		}
		
		&-2 {
			@include grid(tablet-landscape, 2);
		}
		
    	&-1 {
			@include grid(tablet-landscape, 1);
    	}
	}
  
	&-xl {
    	
    	&-12 {
			@include grid(desktop, 12);
		}
		
		&-11 {
			@include grid(desktop, 11);
		}
		
		&-10 {
			@include grid(desktop, 10);
		}
		
		&-9 {
			@include grid(desktop, 9);
		}
		
		&-8 {
			@include grid(desktop, 8);
		}
		
		&-7 {
			@include grid(desktop, 7);
		}
		
		&-6 {
			@include grid(desktop, 6);
		}
		
		&-5 {
			@include grid(desktop, 5);
		}
		
		&-4 {
			@include grid(desktop, 4);
		}
		
		&-3 {
			@include grid(desktop, 3);
		}
		
		&-2 {
			@include grid(desktop, 2);
		}
		
    	&-1 {
			@include grid(desktop, 1);
    	}
    }
}

.visible {
	
	&-xl {
		display: none !important;
	
		@include responsive(desktop) {
			display: block !important;
		}
	}
	
	&-lg {
		display: none !important;
	
		@include responsive(tablet-landscape) {
			display: block !important;
		}
	}
	
	&-md {
		display: none !important;
		
		@include responsive(tablet-portrait) {
			display: block !important;
		}
	}
	
	&-sm {
		display: none !important;
		
		@include responsive(phone) {
			display: block !important;
		}
	}
	
	&-xs {
		display: none !important;
		
		@include responsive(small) {
			display: block !important;
		}
	}
}

table.visible {
	
	@include responsive(desktop) {
		
		&-xl {
			display: table !important;
		}
	}
	
	@include responsive(tablet-landscape) {
		
		&-lg {
			display: table !important;
		}
	}
	
	@include responsive(tablet-portrait) {
		
		&-md {
			display: table !important;
		}
	}
	
	@include responsive(phone) {
		
		&-sm {
			display: table !important;
		}
	}
	
	@include responsive(small) {
		
		&-xs {
			display: table !important;
		}
	}
}

tr.visible {
	
	@include responsive(desktop) {
		
		&-xl {
			display: table-row !important;
		}
	}
	
	@include responsive(tablet-landscape) {
		
		&-lg {
			display: table-row !important;
		}
	}
	
	@include responsive(tablet-portrait) {
		
		&-md {
			display: table-row !important;
		}
	}
	
	@include responsive(phone) {
		
		&-sm {
			display: table-row !important;
		}
	}
	
	@include responsive(small) {
		
		&-xs {
			display: table-row !important;
		}
	}
}

th.visible,
td.visible {
	
	@include responsive(desktop) {
		
		&-xl {
			display: table-cell !important;
		}
	}
	
	@include responsive(tablet-landscape) {
		
		&-lg {
			display: table-cell !important;
		}
	}
	
	@include responsive(tablet-portrait) {
		
		&-md {
			display: table-cell !important;
		}
	}
	
	@include responsive(phone) {
		
		&-sm {
			display: table-cell !important;
		}
	}
	
	@include responsive(small) {
		
		&-xs {
			display: table-cell !important;
		}
	}
}


