.grid,
.grid-fluid {
	@extend .clearfix;
	position: relative;
	display: grid;
	margin-right: auto;
	margin-left: auto;
	grid-gap: calc(#{$grid-gap} * 2);
	padding-left: $grid-gap;
	padding-right: $grid-gap;
	grid-template-columns: [grid-start] repeat(12, 1fr) [grid-end];
	
	@supports (display: grid) {
			
		&::after,
		&::before {
			display: none;
		}
	}
}

.grid {
	max-width: $grid-width;
}

[class*="colg-"] {
	position: relative;
	grid-column: span 12;
}

.colg {
  
	&-xs {
		
		&-12 {
			@include true-grid(small, 12);
		}
		
		&-11 {
			@include true-grid(small, 11);
		}
		
		&-10 {
			@include true-grid(small, 10);
		}
		
		&-9 {
			@include true-grid(small, 9);
		}
		
		&-8 {
			@include true-grid(small, 8);
		}
		
		&-7 {
			@include true-grid(small, 7);
		}
		
		&-6 {
			@include true-grid(small, 6);
		}
		
		&-5 {
			@include true-grid(small, 5);
		}
		
		&-4 {
			@include true-grid(small, 4);
		}
		
		&-3 {
			@include true-grid(small, 3);
		}
		
		&-2 {
			@include true-grid(small, 2);
		}
		
    	&-1 {
			@include true-grid(small, 1);
    	}
	}
  
	&-sm {
    	
    	&-12 {
			@include true-grid(phone, 12);
		}
		
		&-11 {
			@include true-grid(phone, 11);
		}
		
		&-10 {
			@include true-grid(phone, 10);
		}
		
		&-9 {
			@include true-grid(phone, 9);
		}
		
		&-8 {
			@include true-grid(phone, 8);
		}
		
		&-7 {
			@include true-grid(phone, 7);
		}
		
		&-6 {
			@include true-grid(phone, 6);
		}
		
		&-5 {
			@include true-grid(phone, 5);
		}
		
		&-4 {
			@include true-grid(phone, 4);
		}
		
		&-3 {
			@include true-grid(phone, 3);
		}
		
		&-2 {
			@include true-grid(phone, 2);
		}
		
    	&-1 {
			@include true-grid(phone, 1);
    	}
	}
  
	&-md {
		
		&-12 {
			@include true-grid(tablet-portrait, 12);
		}
		
		&-11 {
			@include true-grid(tablet-portrait, 11);
		}
		
		&-10 {
			@include true-grid(tablet-portrait, 10);
		}
		
		&-9 {
			@include true-grid(tablet-portrait, 9);
		}
		
		&-8 {
			@include true-grid(tablet-portrait, 8);
		}
		
		&-7 {
			@include true-grid(tablet-portrait, 7);
		}
		
		&-6 {
			@include true-grid(tablet-portrait, 6);
		}
		
		&-5 {
			@include true-grid(tablet-portrait, 5);
		}
		
		&-4 {
			@include true-grid(tablet-portrait, 4);
		}
		
		&-3 {
			@include true-grid(tablet-portrait, 3);
		}
		
		&-2 {
			@include true-grid(tablet-portrait, 2);
		}
		
    	&-1 {
			@include true-grid(tablet-portrait, 1);
    	}
	}
  
	&-lg {
    	
    	&-12 {
			@include true-grid(tablet-landscape, 12);
		}
		
		&-11 {
			@include true-grid(tablet-landscape, 11);
		}
		
		&-10 {
			@include true-grid(tablet-landscape, 10);
		}
		
		&-9 {
			@include true-grid(tablet-landscape, 9);
		}
		
		&-8 {
			@include true-grid(tablet-landscape, 8);
		}
		
		&-7 {
			@include true-grid(tablet-landscape, 7);
		}
		
		&-6 {
			@include true-grid(tablet-landscape, 6);
		}
		
		&-5 {
			@include true-grid(tablet-landscape, 5);
		}
		
		&-4 {
			@include true-grid(tablet-landscape, 4);
		}
		
		&-3 {
			@include true-grid(tablet-landscape, 3);
		}
		
		&-2 {
			@include true-grid(tablet-landscape, 2);
		}
		
    	&-1 {
			@include true-grid(tablet-landscape, 1);
    	}
	}
  
	&-xl {
    	
    	&-12 {
			@include true-grid(desktop, 12);
		}
		
		&-11 {
			@include true-grid(desktop, 11);
		}
		
		&-10 {
			@include true-grid(desktop, 10);
		}
		
		&-9 {
			@include true-grid(desktop, 9);
		}
		
		&-8 {
			@include true-grid(desktop, 8);
		}
		
		&-7 {
			@include true-grid(desktop, 7);
		}
		
		&-6 {
			@include true-grid(desktop, 6);
		}
		
		&-5 {
			@include true-grid(desktop, 5);
		}
		
		&-4 {
			@include true-grid(desktop, 4);
		}
		
		&-3 {
			@include true-grid(desktop, 3);
		}
		
		&-2 {
			@include true-grid(desktop, 2);
		}
		
    	&-1 {
			@include true-grid(desktop, 1);
    	}
    }
}